

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
	background: #323239;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 14pt;
	color: #fff;
}

h1, h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
}

h1 {
	background: #fff;
	display: inline-block;
	color: #323239;
}

h2 {
	color: #fff;
	font-weight: 100;	
	display: inline-block;
	padding: 6px 18px;	
	font-size: 1.2em;
}

footer {
	font-size: .8em;
	padding-bottom: 12px;
}

#ipadCenter {
	position: relative;
	width: 100%;
	height: 500px;
	background: #E6AA73;
}

#ipad {
	position: relative;
	top: 32px;
	left: 50%;
	margin-left: -322px;
}

#ipadFrame {
	position: absolute;
}

#ipadContent {
	position: absolute;
	top: 26px;
	left: 66px;
	background: #369;
	width: 512px;
	height: 384px;
}


.jumbotron {
	background: #323239;
}

.jumbotron .container p {
	color: #fff;
}

.about, .issues, .purchase {
	background: #323239;
}

.about {

	background: #39C0AA;
}

.issues {
	background: #F67075;
}

.purchase {
	background: #8DC936;
}

.row p {
	color: #fff;
}

