

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
	background: #25262b;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
	padding-bottom: 20px;

}

h1, h2 {
	text-transform: uppercase;
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}

h2 {

   display: inline-block;
   padding: 6px;	
}

.jumbotron {
	background: #fff;
}

.about, .issues, .purchase {
	background: #fff;
}





