body {
  background: #323239;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size: 12pt;
  color: #fff;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  background: #fff;
  display: inline-block;
  color: #323239;
}

h2 {
  color: #fff;
  display: inline-block;
  padding: 6px 18px;  
  font-size: 1.2em;
  margin: 20px 0;
}

footer {
  font-size: .8em;
  padding-bottom: 12px;
}

footer a, footer a:hover {
  color: #fff;
}

#header {
  position: relative;
  height: 534px;
  background: #44BE9D;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center; 
  background-size: cover;
  border-bottom: 4px solid #DABA3A;
}

#ipad {
  position: relative;
  top: 58px;
  left: 50%;
  margin-left: -256px;
  width: 640px;
  background: #323239;
}

#ipadFrame, #ipadGlare {
  position: absolute;
  top: -26px;
  left: -66px;  
}

#ipadGlare {
  z-index: 999;
}

#ipadVideo, #ipadImage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 512px;
  height: 384px;
}

#coverImage, #videoTrailer {
  max-width: 512px;
  height: auto;
  width: 100%;
}

#ipadVideo {
  display: none;

}

#buttonContainer {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

@media (max-width: 512px) {
  body {
    font-size: 11pt;;
  }
  #header {
    height: auto;
    position: relative;
  }
  #ipad {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
  }
  #ipadVideo, #ipadImage {
    width: 100%;
    height: auto;
    position: relative;  
  }
  #ipadFrame, #ipadGlare {
    display: none;
  }
  #buttonContainer {
    position: relative;
    bottom: 0;
    margin: 16px 0;
  }
}

#content {
  width: 100%;
  max-width: 552px;
  padding: 0 20px;
  margin: auto;
}

.issues {

  background: #F8860F;
}

.about {
  background: #F67075;
}

.purchase {
  background: #8DC936;
}

.author {
  background: #B100E9;
}

.card {
  color: #666;
  padding: 12px 16px;
  background: #fff;
}
